{% assign side = include.origin | modulo:2 %}
{% if side == 1 %}
    {% assign align-class="portfolio-l" %}
{% else %}
    {% assign align-class="portfolio-r" %}
{% endif %}
{% assign block-data=site.data.portfolio[include.origin] %}
{% assign content=block-data.content %}
{% capture my_include %}
    {% include_relative {{ content }} %}
{% endcapture %}
<div class="portfolio-block {{ align-class }}">
    <div class="portfolio-front" style="background-image: url('{{ block-data.cover }}');"></div>
    <div class="portfolio-overlay"></div>
    <div class="portfolio-excerpt">
        {% if block-data.title %}
            <h3>{{ block-data.title }}</h3>
        {% endif %}
        <p>{{ my_include }}</p>
    </div>
    <div class="portflio-links">
        <a data-cssmodal-nohash href="#modal-{{ include.origin }}">
            <i class="material-icons">pageview</i>
        </a>
    </div>
</div>
<section aria-hidden="true" aria-labelledby="modal-label" class="modal--show" id="modal-{{ include.origin }}" role="dialog" tabindex="-1">
    <div class="modal-inner">
        <header id="modal-label"><!-- Header --></header>
        <div class="modal-content">The modals content</div>
        <footer><!-- Footer --></footer>
    </div>

    <a class="modal-close" data-close="Close" data-cssmodal-nohash data-dismiss="modal" href="#!" title="Close this modal">?</a>
</section>
