// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)


/** minima/initialize.scss */
@import 
    // Css-modal
    'drublic-css-modal/modal',
    'drublic-css-modal/plugins/modal-gallery',
    'drublic-css-modal/plugins/modal-spinner',
    // Highlighter css
    url('zenburn.css'),
    // Staticman comments styling
    '../comment-styles.scss';


/** minima/_base.scss */

/**
  * Headings
  */
h1, h2, h3, h4, h5, h6 {
    font-family: $headings-font-family;
}


.highlighter-rouge .highlight  {
  background-color: #3f3f3f;
}

/** minima/_layout.scss */

@import 'minima/mixins';

/**
* Site header
*/
.site-header {
    border-bottom: 1px solid $border-color-02;
    min-height: none;
    line-height: unset;
  
    // Positioning context for the mobile navigation icon
    width: 100%;
    position: relative;
    left: 50vw;
    right: 50vw;
    margin-left: -50vw;
    margin-right: -50vw;
    // background-image: url('/assets/banner.png');
    background-color: $brand-color-light;
    background-size: cover;
    background-position: center;
    min-height: 14.1vw;
}

.banner {
  position: relative;
  color: darken($color: $site-title-color, $amount: 10);
  display: block;
  margin-top: 0;
  margin-bottom: 5px;
  margin-right: auto;
  margin-left: unquote('max(calc((100% - #{$content-width}) / 2), 10vw)');
  max-width: 1080px;
  min-height: 5vh;
  padding: 1rem 1.25rem;
  text-decoration: none;
  width: 75%;

  .img-container {
    height: 120px;
    width: height;
    float: left;

    @include media-query($on-palm) {
      visibility: hidden;
      width: 0px;
    }

    img {
      height: 100%;
      width: auto;
    }
  }

  h1 {
    font-weight: bolder;
    display: block;
    margin-block-start: 0.67rem;
    margin-block-end: 0.67rem;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }

  h2 {
    font-family: $base-font-family;
    display: block;
    font-size: 1.5rem;
    font-style: oblique;
    margin-block-start: 0.83rem;
    margin-block-end: 0.83rem;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: lighter;
  }
}

.top-nav {
  align-self: flex-start;
  position: sticky;
  top: 0;
  background: darken($border-color-02, 10);

  .nav-link {
    display: inline-block;
    line-height: calc(1rem  0.5rem);
    font-size: 1rem;
    padding: 0.5rem 1rem;
    color: $site-title-color;
    text-decoration-line: none;
    @include easeLinks;

    &:hover {
      background-color: $border-color-03;
      color: $link-hover-color;
    }
  }
  .link-exact-active {
    color: $brand-color-light;
    font-style: italic;
  }
}

.site-title {
    @include relative-font-size(2.25);
    letter-spacing: 1px;
    float: none;
     
    a:hover {
      text-decoration: none;
    }
}

.site-nav {
    .page-current {
        padding: 0 20px;
        color: $navlink-current-color;
        display: inline-block; /* For IE11/ MS Edge bug */
        cursor: not-allowed;
        opacity: 0.5;
        pointer-events: none;
        text-decoration: none;
        font-style: oblique;
    }

    // @media screen and (min-width: $on-large) {
    //   top: unquote('calc(max(14.1vw, 165px) - 1.6rem)');
    // }

    @media screen and (min-width: $on-med-wide) {
      top: unquote('calc(max(14.1vw, 165px) - 1.6rem)');
    }

    @media screen and (min-width: $on-medium) and (max-width: $on-med-wide) {
      top: unquote('calc(max(14.1vw, 200.25px) - 1.6rem)');
    }

    @media screen and (min-width: $on-medium) {
        position: absolute;
        right: 0;
        margin-right: 0;
        padding-right: unquote('max(calc((100% - #{$content-width}) / 2), 10vw)');
        border-radius: 0;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 2px solid $border-color-02;
        background-color: rgba(darken($background-color, 5), 0.65);
        width: 100%;

        .page-link {
           padding: 0 20px;
      
            &:not(:last-child) {
                margin-right: 0;
            }
     
            &:hover {
                background-color: rgba(darken($background-color, 15), 0.65);
                text-decoration: none;
                color: $navlink-hover-color;
           }
        }
    }
}

/**
* Posts
*/

.post-block-image {
    display: block;
    margin-top: 2rem;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 0;
    width: 40%;

    @media screen and (max-width: $on-palm) {
        width: 80%;
    }
}

.post-image-desc {
    display: block;
    margin-top: 0;
    padding-top: 0;
    text-align: center;
    font-weight: bold;
    color: lighten($text-color, 15);
}

/**
 * Portfolio
 */
.portfolio-tags {
      text-align: center;
      margin-top: auto;
      margin-bottom: 5vh;
    
      @media screen and (min-width: $on-large) {
        margin-left: 5vw;
        margin-right: 5vw;
      }
    
      a {
        display: inline-block;
        margin: 2px;
        padding: 0.2rem 0.4rem;
        border-radius: 2px;
        -webkit-transition: 0.1s;
        transition: 0.1s;
        text-decoration: none;
        border-style: solid;
        border-width: thin;
        border-radius: 4px;
        border-color: $link-base-color;
    
        &:hover {
          color: $navlink-hover-color;
        }
      }
    
      .filter-current {
        cursor: not-allowed;
        opacity: 0.5;
        color: $navlink-current-color;
        pointer-events: none;
        text-decoration: none;
        font-style: oblique;
      }
    }
    
    .portfolio-wrapper {
      $local-block-size: calc(100vw / 2 - #{$grid-gap} * 2);
      $local-max-block-size: $portfolio-max-block-size;
      display: grid;
      max-width: calc(#{$content-width} - (#{$spacing-unit}));
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto;
      gap: $grid-gap;
    
      @include media-query($on-palm) {
        width: 90vw;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    
        .portfolio-overlay,
        .portfolio-content,
        .portfolio-block,
        .portfolio-front {
          width: 80vw !important;
          height: 80vw !important;
        }
    
        .portfolio-excerpt {
          width: 80vw !important;
          height: unquote(
            'calc(min(80vw, #{$local-max-block-size}) * 0.7) !important'
          );
        }
    
        .portflio-links {
          top: unquote('min(80vw, #{$local-max-block-size}) !important');
    
          i {
            font-size: 28px !important;
          }
        }
      }
    
      .portfolio-l {
        justify-self: end;
      }
    
      .portfolio-r {
        justify-self: start;
      }
    
      .portfolio-l,
      .portfolio-r {
        @include media-query($on-palm) {
          justify-self: center;
        }
      }
    
      .portfolio-hidden {
        display: none;
        visibility: hidden;
        width: 0;
        height: 0;
      }
    
      .portfolio-block {
        position: relative;
        overflow: hidden;
        background-color: $sol-base03;
        width: $local-block-size;
        height: $local-block-size;
        max-width: $local-max-block-size;
        max-height: $local-max-block-size;

        &:hover {
          .portfolio-front {
            scale: 1.1;
            z-index: 1;
          }
    
          .portfolio-overlay {
            z-index: 2;
            opacity: 1;
          }
    
          .portfolio-excerpt {
            transform: translateY($local-max-block-size);
            z-index: 3;
            h3,
            p {
              visibility: visible;
            }
          }
    
          .portflio-links {
            transform: unquote(
              'translateY(calc( -1 * min(#{$local-block-size}, #{$local-max-block-size}) / 5))'
            );
            z-index: 5;
          }
    
          @include media-query($on-palm) {
            .portflio-links {
              transform: unquote(
                'translateY(calc( -1 * min(80vw, #{$portfolio-max-block-size}) / 5)) !important'
              );
            }
          }
        }
    
        .portfolio-front {
          position: absolute;
          top: 0;
          left: 0;
          background-position: center !important;
          background-size: cover;
          width: $local-block-size;
          height: $local-block-size;
          max-width: $local-max-block-size;
          max-height: $local-max-block-size;
          z-index: 2;
          @include easeLinks;
        }
    
        .portfolio-overlay {
          position: absolute;
          top: 0;
          left: 0;
          width: $local-block-size;
          height: $local-block-size;
          max-width: $local-max-block-size;
          max-height: $local-max-block-size;
          background-color: rgba(#ffffff, 0.65);
          opacity: 0;
          z-index: 1;
          @include easeLinks;
        }
    
        .portfolio-excerpt {
          position: absolute;
          top: -$local-max-block-size;
          left: 0;
          width: $local-block-size;
          max-width: $local-max-block-size;
          height: unquote(
            'calc(min(#{$local-block-size}, #{$local-max-block-size}) * 0.7)'
          );
          // overflow: hidden;
          transform-origin: top;
          color: $sol-base03;
          z-index: 1;
          @include easeLinks;
    
          h3 {
            @include relative-font-size(1.375);
    
            /**
             * If heading should be single line, uncomment the three following lines to ensure
             * truncating and addition of wllipsis
             */
            // white-space: nowrap;
            // overflow: hidden;
            // text-overflow: ellipsis;
            margin: 0px $spacing-unit / 2;
            padding: 0px;
            visibility: hidden;
          }
    
          p {
            // @include multiLineEllipsis($lineHeight: $small-font-size, $lineCount: 3, $bgColor: white);
    
            margin: 0px;
            padding: $spacing-unit / 2;
            font-size: $small-font-size;
            // white-space: pre-line;
            text-align: justify;
            visibility: hidden;
          }
        }
    
        .portflio-links {
          position: absolute;
          top: unquote('min(#{$local-block-size}, #{$local-max-block-size})');
          left: 0;
          transform-origin: bottom;
          width: 100%;
          text-align: center;
          z-index: -1;
          @include easeLinks;
    
          i {
            font-size: 36px;
          }
    
          a:hover {
            text-decoration: none;
          }
        }
      }

      .limited-hover {
        // pointer-events: none;
        
        .portfolio-overlay {
          z-index: 2;
          opacity: 0.25;
        }
  
        .portfolio-excerpt {
          transform: translateY($local-max-block-size);
          z-index: 3;
          h3,
          p {
            visibility: visible;
          }
        }
      }
    }
    
    .portfolio-modal {
      @extend %modal;
    
      background-color: rgba($border-color-02, 0.65);
    }