---
layout: default
---

<div class="portfolio">
    <header class="post-header">
        <h1 class="post-title">{{ page.title | escape }}</h1>
    </header>
    <div class="post-content">
        {{ content }}
    </div>
    <div class="portfolio-wrapper">
        {% for project in site.portfolio %}
            {% assign projectIndex = forloop.index %}
            {% assign side = projectIndex | modulo:2 %}
            {% if side == 1 %}
                {% assign align-class="portfolio-l" %}
            {% else %}
                {% assign align-class="portfolio-r" %}
            {% endif %}
            <div class="portfolio-block {{ align-class }}" id="portfolio-block-{{ projectIndex }}">
                <div class="portfolio-front" style="background-image: url('{{ project.cover }}');"></div>
                <div class="portfolio-overlay"></div>
                <div class="portfolio-excerpt">
                    {% if project.title %}
                        <h3>{{ project.title }}</h3>
                    {% endif %}
                    <p>
                        {{ project | strip_html | truncate: 512 }}
                    </p>
                </div>
                <div class="portflio-links">
                    {% if project.link %}
                        <a href="{{ project.link }}" target="_blank" rel="noopener noreferrer">
                            <i class="material-icons">link</i>
                        </a>
                    {% endif %}
                    {% if project.modal %}
                        {% if project.modal[0].md %}
                            <a href="#stackable-{{ projectIndex }}-1">
                                <i class="material-icons">pageview</i>
                            </a>
                        {% else %}
                            <a href="#modal-gallery-{{ projectIndex }}">
                                <i class="material-icons">pageview</i>
                            </a>
                        {% endif %}
                    {% endif %}
                </div>


                {% for i in project.modal %}
                    {% if i.md %}
                        <section aria-hidden="true" aria-labelledby="stackable-label" class="modal--show" id="stackable-{{ projectIndex }}-{{ forloop.index }}" role="dialog" tabindex="-1">

                            <div class="modal-inner">
                                <header>
                                    <h2 id="stackable-label">Stacked modal</h2>
                                </header>
                                <div class="modal-content">
                                    {% capture mdurl %}
                                        {% remote_include_param {{ i.md }} %}
                                    {% endcapture %}
                                    {{ mdurl | strip | markdownify }}
                                </div>
                                <footer>
                                    <p>
                                        <a class="open-modal" href="#modal-gallery-{{ projectIndex }}" role="button" title="Open gallery modal">Open gallery modal</a>
                                    </p>
                                </footer>
                            </div>

                            <a class="modal-close" data-close="Close" data-dismiss="modal" href="#!" title="Close this modal">&times;</a>
                        </section>
                    {% endif %}
                {% endfor %}

                {% unless project.modal[0].md and project.modal.size == 1 %}
                    <section aria-hidden="true" aria-labelledby="modal-label" class="portfolio-modal modal--gallery" data-cssmodal-resize="true" id="modal-gallery-{{ projectIndex }}" role="dialog" tabindex="-1">
                        <div class="modal-inner">
                            <div class="modal-content">
                                <div class="spinner">
                                    <div class="spinner__outer"></div>
                                    <div class="spinner__inner"></div>
                                </div>


                                <div aria-atomic="false" aria-live="polite" class="modal-detail"></div>

                                <ul class="modal--gallery-navigation">
                                    <li>
                                        <a class="modal--gallery-navigation-prev" href="#" title="Previous">Previous</a>
                                    </li>
                                    <li>
                                        <a class="modal--gallery-navigation-next" href="#" title="Next">Next</a>
                                    </li>
                                </ul>

                            </div>
                            <div class="modal--gallery-caption"></div>

                            <footer>
                                <ul aria-hidden="true" class="modal-content-list is-active">
                                    {% for j in project.modal %}
                                        <li data-caption="{{ j.text }}">
                                            {% if j.img %}
                                                <a href="#modal-gallery-{{ projectIndex }}/{{ forloop.index }}">
                                                    <img alt="{{ j.text }}" data-src-fullsize="{{ j.img }}">
                                                </a>
                                            {% elsif j.md %}
                                                <a href="#stackable-{{ projectIndex }}-{{ forloop.index }}">
                                                    {% if j.text %}
                                                        {{ j.text }}
                                                    {% else %}
                                                        {{ project.modal.size }}
                                                    {% endif %}
                                                </a>
                                            {% endif %}
                                        </li>
                                    {% endfor %}
                                </ul>
                            </footer>
                        </div>

                        <a class="modal-close" data-close="Close" data-dismiss="modal" href="#!" title="Close this modal">?</a>
                    </section>
                {% endunless %}
            </div>
        {% endfor %}
    </div>

</div>

<script>
    /***
     * Truncate excerpt paragraph if too long for current width, and trim white spaces.
     */
    (function() {
        var blocks = document.querySelectorAll('.portfolio-excerpt');

        for (var block of blocks) {
            var pHeight = block.offsetHeight - block.querySelector('h3').offsetHeight;
            var paragraph = block.querySelector('p');
            var pText = paragraph.textContent;
            pText = pText.trim();
            var pFontSize = window.getComputedStyle(paragraph, null).getPropertyValue('font-size');
            pFontSize = parseInt(pFontSize.split('px')[0], 10);

            var n = parseInt(paragraph.offsetWidth / pFontSize) * parseInt(pHeight / pFontSize);

            paragraph.innerHTML = (pText.length > n) ? pText.substr(0, n-1) + '&hellip;' : pText;            
        }
        
    })();
</script>

<script src="/assets/script/modal.js"></script>
<script src="/assets/script/modal-gallery.js"></script>
<script src="/assets/script/modal-helper.js"></script>
<script src="/assets/script/modal-maxwidth.js"></script>
<script src="/assets/script/modal-resize.js"></script>
