---
layout: default
---

<div class="portfolio">
    <header class="post-header">
        <h1 class="post-title">{{ page.title | escape }}</h1>
    </header>
    <div class="post-content">
        {{ content }}

        {% assign mdurl = "https://raw.githubusercontent.com/UriShX/portfolio/master/README.md" %}
        {% capture remotemd %}
            {% remote_include_param {{ mdurl }} %}
        {% endcapture %}
        {{ remotemd | strip | markdownify }}

        {% capture remotemd %}
            {% remote_include_param "https://raw.githubusercontent.com/UriShX/portfolio/master/README.md" %}
        {% endcapture %}
        {{ remotemd | strip | markdownify }}
    </div>
    <div class="portfolio-wrapper">
        {% for project in site.portfolio %}
            {% assign side = forloop.index | modulo:2 %}
            {% if side == 1 %}
                {% assign align-class="portfolio-l" %}
            {% else %}
                {% assign align-class="portfolio-r" %}
            {% endif %}
            <div class="portfolio-block {{ align-class }}" id="portfolio-block-{{ forloop.index }}">
                <div class="portfolio-front" style="background-image: url('{{ project.cover }}');"></div>
                <div class="portfolio-overlay"></div>
                <div class="portfolio-excerpt">
                    {% if project.title %}
                        <h3>{{ project.title }}</h3>
                    {% endif %}
                    <p>
                        {{ project | strip_html | truncate: 512 }}
                    </p>
                </div>
                <div class="portflio-links">
                    {% if project.link %}
                        <a href="{{ project.link }}" target="_blank" rel="noopener noreferrer">
                            <i class="material-icons">link</i>
                        </a>
                    {% endif %}
                    {% if project.modal %}
                        <a href="#modal-gallery-{{ forloop.index }}">
                            <i class="material-icons">pageview</i>
                        </a>
                    {% endif %}
                </div>
            </div>

            <section aria-hidden="true" aria-labelledby="modal-label" class="portfolio-modal modal--gallery" data-cssmodal-resize="true" id="modal-gallery-{{ forloop.index }}" role="dialog" tabindex="-1">
                <div class="modal-inner">
                    <div class="modal-content">
                        <div class="spinner">
                            <div class="spinner__outer"></div>
                            <div class="spinner__inner"></div>
                        </div>


                        <div aria-atomic="false" aria-live="polite" class="modal-detail"></div>

                        <ul class="modal--gallery-navigation">
                            <li>
                                <a class="modal--gallery-navigation-prev" href="#" title="Previous">Previous</a>
                            </li>
                            <li>
                                <a class="modal--gallery-navigation-next" href="#" title="Next">Next</a>
                            </li>
                        </ul>

                    </div>
                    <div class="modal--gallery-caption"></div>

                    <footer>
                        <ul aria-hidden="true" class="modal-content-list is-active">
                            {% for i in project.modal %}
                                <li data-caption="{{ i.text }}">

                                    <a href="#modal-gallery-{{ forloop.index }}/{% increment var %}">
                                        {% if i.md %}
                                            {% capture remotemd %}
                                                {% remote_include_param {{ i.md }} %}
                                            {% endcapture %}
                                            {{ remotemd | strip | markdownify }}
                                        {% else %}
                                            <img alt="{{ i.text }}" data-src-fullsize="{{ i.img }}">
                                        {% endif %}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </footer>
                </div>

                <a class="modal-close" data-close="Close" data-dismiss="modal" href="#!" title="Close this modal">?</a>
            </section>
        {% endfor %}
    </div>

</div>

<script>
    /***
     * Truncate excerpt paragraph if too long for current width, and trim white spaces.
     */
    (function() {
        var blocks = document.querySelectorAll('.portfolio-excerpt');

        for (var block of blocks) {
            var pHeight = block.offsetHeight - block.querySelector('h3').offsetHeight;
            var paragraph = block.querySelector('p');
            var pText = paragraph.textContent;
            pText = pText.trim();
            var pFontSize = window.getComputedStyle(paragraph, null).getPropertyValue('font-size');
            pFontSize = parseInt(pFontSize.split('px')[0], 10);

            var n = parseInt(paragraph.offsetWidth / pFontSize) * parseInt(pHeight / pFontSize);

            paragraph.innerHTML = (pText.length > n) ? pText.substr(0, n-1) + '&hellip;' : pText;            
        }
        
    })();
</script>

<script src="/assets/script/modal.js"></script>
<script src="/assets/script/modal-gallery.js"></script>
<script src="/assets/script/modal-helper.js"></script>
<script src="/assets/script/modal-maxwidth.js"></script>
<script src="/assets/script/modal-resize.js"></script>
